<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet/less" type="tet/css" href="./_css/style.less">
        <title>Projeto LESS</title>
    </head>
    <body>
        <h1>Titilo h1</h1>
        <h2>Titulo h2</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptates quisquam labore! Cupiditate nam eaque ex porro libero veritatis numquam nemo aliquid eius, corrupti commodi, incidunt fugit saepe nesciunt. Reprehenderit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error adipisci deserunt ut quam incidunt minus voluptatum porro neque tempore? A dolorem sapiente optio eius quia? Veritatis cum atque facilis saepe!</p>

        <h2>Outro Titulo h2</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla dolorum quo laboriosam velit! Aut alias voluptatem similique. Id molestiae dignissimos ratione? Cum veniam quo exercitationem illo nesciunt obcaecati, explicabo adipisci!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, inventore quos maxime corporis esse quae debitis facere. Dolorem hic ducimus placeat animi quidem eveniet, libero error, culpa esse consectetur debitis!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio eum dolorem quas. Sapiente, fuga expedita debitis est voluptatibus soluta aliquid blanditiis quisquam delectus, incidunt libero dolore corporis, nam velit in!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nam repellat est nostrum labore natus impedit eveniet id numquam illum maiores architecto nihil illo, eius doloremque. Tempore enim modi excepturi?</p>

        <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    </body>
</html>